<h1>To-Do List</h1>

<!-- ngModel uses two-way binding to retrieve / update data in list.component.ts -->
<div id="inputFields">
    <input id="nameInputField" [(ngModel)]="newTaskName" placeholder="Enter task...">
    <input [(ngModel)]="newTaskNotes" placeholder="Enter notes...">
    <button (click)="addTask()">Submit</button>
</div>

<div>
    <img src="../../assets/work.jpg" height="250" alt="d">
</div>

<!-- Activated by the onEmptyList method in list.component.ts -->
<div id="emptyListMessage" hidden>
    <p>Your list is empty.</p>
</div>

<!-- We use Angular's ngFor to iterate in a for-loop -->
<div id="taskList" *ngFor="let task of currentTasks; let i = index">
    <h3>
        <button (click)="delTask(i)">Remove</button>
        {{task.name}}
    </h3>
    <p>{{task.notes}}</p>
    <hr>
</div>

<footer>
    <p><a
            href="https://www.freepik.com/free-vector/businessman-holding-pencil-big-complete-checklist-with-tick-marks_11879344.htm#query=list&position=1&from_view=search&track=sph">Image
            by jcomp</a> on Freepik</p>
</footer>