* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inputFields, #taskList {
    text-align: center;
}

input {
    margin-left: 10px;
    margin-right: 10px;
}

p {
    font-weight: lighter;
}

hr {
    width: 50%;
}

footer {
    background-color: ghostwhite;
    text-align: center;
    font-size: small;
    position: fixed;
    bottom: 0px;
    width: 100%;
}